---
import "../styles/global.css";
import Sidebar from "../components/sidebar.astro";
import Header from "../layouts/header.astro";
---
<Header />
	<body>
		<Sidebar />
		<h1>Astro</h1>
	</body>
</html>
